.bubble-header {
  border: 1px solid #ccc;
}

.bubble-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bubble-header li {
}

.bubble-header select {
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  margin: 10px;
}

.room {
  float: left;
  display: block;
  text-align: center;
  font-size: 16px;
  padding-top: 8px;
  text-decoration: none;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 8px;
  width: 48px;
  height: 28px;
  margin: 10px;
  box-shadow: 0px 1px 6px;
  position: relative;
}

.room-active {
  color: #FDFDFD;
  background-color: #999999;
  border-color: #707070;
  box-shadow: 0px 1px 6px;
}

.room-ordered {
  background-color: #EBEBEB;
  color: #707070;
  border: none;
  box-shadow: none;
}

.room-active-ordered {
  background-color: #EBEBEB;
  color: #707070;
  border-color: #707070;
}

.notification-dot {
  color: #4FDB48;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: -10px;
  right: -8px;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position:relative;
}

.title {
  font-size: 20px;
  color: #707070;
  flex-grow: 1;
  padding-left: 200px;
  padding-top: 14px;
}

.green-bg {
  background-color: #4FDB48;
}

.red-bg {
  background-color: #FF6758;
}

.blue-bg {
  background-color: #6394F3;
}
